body {
  background-color: azure;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: midnightblue;
  margin: 2em;
}

h1 {
  color: royalblue;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}
